*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: #242424;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

canvas {
  border: 1px solid white;
}
