*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: #242424;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100dvh;
}

canvas {
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 6px 9px 12px 4px rgba(0, 0, 0, 0.5);
}

.score {
  text-align: center;
  padding: 2rem;
}
