* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #242424;
  color: white;
  height: 100dvh;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  height: 100dvh;
}

img {
  max-width: 40px;
  height: auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
