* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: #020617;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
}

.container {
  background-color: #070c1c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 3px 20px 14px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 1.5rem;
}

#clock {
  font-size: 2rem;
  margin: 10px 0;
}

input,
button {
  background: #000209;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0e111f;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);

  background-color: #336234;
}

.result {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #727272;
}

.future-time {
  font-weight: bold;
  color: white;
}
